<!-- podcast content start - content to be chnaged outlined below -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td style="padding-top: 20px; padding-right: 50px; padding-bottom: 30px; padding-left: 50px;">
			<table border="0" cellspacing="0" cellpadding="0" align="center">
				<tr>
					<td border="0" cellspacing="0" cellpadding="0" align="center" valign="middle" style="text-align: center; padding-top: 15px; font-size: 24px;">
						<strong>Listen now</strong>
					</td>
					<td width="50" style="padding-right: 20px; padding-bottom: 20px; padding-left: 20px;"><img src="https://www.moneymorning.com.au/wp-content/uploads/2021/04/headphones_50.png" alt="Listen now"></td>
				</tr>
			</table>
			<table border="0" cellspacing="0" cellpadding="0" align="center">
				<tr>
					<td width="60" class="smallImages" style="padding-top: 20px; padding-right: 40px; padding-bottom: 40px; padding-left: 20px; text-align: center; line-height: 140%; line-height: 22px;">
						<!-- mm website url to be changed -->
						<a href="https://www.moneymorning.com.au/20210407/asx-hydrogen-stocks-from-fantasy-to-reality.html"><img src="https://www.moneymorning.com.au/wp-content/uploads/2021/04/MM_Podcast_Icon_60.png" alt="Money Morning"></a>Money Morning</td>
					<td width="60" class="smallImages" style="padding-top: 20px; padding-bottom: 40px; text-align: center; line-height: 140%; line-height: 22px;"><a href="https://open.spotify.com/show/1VwAIy6DLQT6epQR4JNj0w?si=0utJ63TURvqNtUPL1HjviA&nd=1"><img src="https://www.moneymorning.com.au/wp-content/uploads/2021/04/Spotify_Icon_Black_60.png" alt="Spotify"></a>Spotify</td>
					<td width="60" class="smallImages" style="padding-top: 20px; padding-right: 20px; padding-bottom: 40px; padding-left: 40px; text-align: center; line-height: 140%; line-height: 22px;"><a href="https://podcasts.apple.com/au/podcast/money-morning-podcast/id1559466848"><img src="https://www.moneymorning.com.au/wp-content/uploads/2021/04/Apple_Podcast_Icon_Black_60.png" alt="Apple Podacst"></a>Apple</td>
				</tr>
			</table>
			<table width="100%" style="background-color: #313131;">
				<tr>
					<td style="padding: 20px;">
						<table border="0" cellspacing="0" cellpadding="0" align="left" width="100%">
							<tr>
								<td width="160" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;">
									<table border="0" cellspacing="0" cellpadding="0" align="left">
										<tr>
											<td style="border: 2px solid white;">
												<img src="https://www.moneymorning.com.au/wp-content/uploads/2021/04/mm-podcast_150.png" alt="">
											</td>
										</tr>
									</table>
								</td>
								<td width="70">
									<table border="0" cellspacing="0" cellpadding="0" align="left">
										<tr>
											<td style="padding-top: 40px; padding-left: 30px;">
												<!-- mm website url to be changed -->
												<a href="https://www.moneymorning.com.au/20210407/asx-hydrogen-stocks-from-fantasy-to-reality.html"><img src="https://www.moneymorning.com.au/wp-content/uploads/2021/04/play_button_white_70.png" alt="Play"></a>
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table border="0" cellspacing="0" cellpadding="0" align="left">
										<tr>
											<td style="color: #fff; padding-top: 0px; padding-left: 30px; font-size: 12px;">
												<!-- Podcast title to be changed -->
												<strong>Adam Bacon on Hydrogen Power</strong><br>
												<!-- Podcast content to be changed -->
												Hydrogen power is increasingly on the agenda for governments and investors alike. Lachlann Tierney discusses the current and future state of the hydrogen market with Adam Bacon of Ebony Energy which was recently acquired by Hexagon Energy Materials Ltd [ASX:HXG].
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- podcast content end -->
