<table style="clear:both!important;" bgcolor="#fec107" width="100%" class="column" align="center" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center" style="border-top: 4px solid #000000; padding-top:10px;">
                <!-- footer content -->
                
                <table border="0" cellpadding="0" cellspacing="0" style="max-width:640px;" bgcolor="#fec107" align="center">
                  <tr>
                    <td align="center">
                      <table class="smallImages" style="word-wrap:normal; text-align:center;" align="center">
                        <tr>
                          <td class="mobPaddingFooterTopLogo" style="padding:20px 20px 0; color: #000000; font-family: Georgia, serif; font-size:12px; line-height: 1.4; text-align:left;" align="center">
                            <img src="https://www.portphillippublishing.com.au/wp-content/uploads/2019/02/IGP_Email_Footer_Icon_150.png" alt="India Growth Portfolio Logo" />
                          </td>
                        </tr>
                        <tr>
                          <td class="mobPadding" style="padding:20px 20px 10px; color: #000000; font-family: Georgia, serif; font-size:12px; line-height: 1.4; text-align:left;" align="center">
                            All content is &copy; 2005 &ndash; [%= :date(%Y) %] <a href="https://www.portphillippublishing.com.au/" style="color: #000000 !important;" target="_blank"><span style="color: #000000 !important;">Port Phillip Publishing Pty Ltd</span></a> All Rights Reserved
                          </td>
                        </tr>
                        <tr>
                          <td class="mobPadding" style="padding:0 20px 10px; color: #000000; font-family: Georgia, serif; font-size:12px; line-height: 1.4; text-align:left;">
                            Port Phillip Publishing Pty Ltd holds an Australian Financial Services Licence: 323 988.
                          </td>
                        </tr>
                        <tr>
                          <td class="mobPadding" style="padding:0 20px 10px; color: #000000; font-family: Georgia, serif; font-size:12px; line-height: 1.4; text-align:left;">
                            ACN: <span style="color: #000000 !important; text-decoration:none !important;">117 765 009</span> ABN: <span style="color: #000000 !important; text-decoration:none !important;">33 117 765 009</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="mobPadding" style="padding:0 20px 10px; color: #000000; font-family: Georgia, serif; font-size:12px; line-height: 1.4; text-align:left;">
                            All advice is general advice and has not taken into account your personal circumstances. Please seek independent financial advice regarding your own situation, or if in doubt about the suitability of an investment.
                          </td>
                        </tr>
                        <tr>
                          <td class="mobPadding" style="padding:0 20px 10px; color: #000000; font-family: Georgia, serif; font-size:12px; line-height: 1.4; text-align:left;">
                            <strong>Calculating Your Future Returns:</strong> The value of any investment and the income derived from it can go down as well as up. Never invest more than you can afford to lose and keep in mind the ultimate risk is that you can lose whatever you've invested. While useful for detecting patterns, the past is not a guide to future performance. Some figures contained in this report are forecasts and may not be a reliable indicator of future results. Any potential gains in this letter do not include taxes, brokerage commissions, or associated fees. Please seek independent financial advice regarding your particular situation. Investments in foreign companies involve risk and may not be suitable for all investors. Specifically, changes in the rates of exchange between currencies may cause a divergence between your nominal gain and your currency-converted gain, making it possible to lose money once your total return is adjusted for currency.
                          </td>
                        </tr>
                        <tr>
                          <td class="mobPadding" style="padding:0 20px 10px; color: #000000; font-family: Georgia, serif; font-size:12px; line-height: 1.4; text-align:left;">
                            To remove your name from <em>India Growth Portfolio</em> and associated external offers sent from <em>India Growth Portfolio</em>, [%= :Unsub(Click here) %].
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table align="left">
                        <tr>
                          <td class="mobPadding" style="padding:0 20px 10px; color: #000000; font-family: Georgia, serif; font-size:12px; line-height: 1.4; text-align:left;">
                            Send us your comments, suggestions or questions <a href="https://www.portphillippublishing.com.au/premium-contact/" style="color: #000000;">here</a>.
                          </td>
                        </tr>
                        <tr>
                          <td class="mobPadding" style="padding:0 20px 10px; color: #000000; font-family: Georgia, serif; font-size:12px; line-height: 1.4; text-align:left;">
                            Port Phillip Publishing
                            <br />
                            Attn: <em>India Growth Portfolio</em>
                            <br />
                            <span style="color: #000000 !important; text-decoration:none !important;">96-98 Bridport Street, Albert Park, VIC 3206</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding:0 20px 20px; color: #000000; font-family: Georgia, serif; font-size:12px; line-height: 1.4; text-align:left;">
                            Tel: : <span style="color: #000000 !important; text-decoration:none !important;">1300 308 726 </span> or +<span style="color: #000000 !important; text-decoration:none !important;">61 3 8657 3903</span>
                          </td>
                        </tr>
                      </table>
                      <table align="right">
                        <tr>
                          <td class="smallImages" style="padding: 40px 100px 0px 0px;">
                            <img src="https://portphillippublishing.com.au/wp-content/uploads/ppp-logo.png" alt="Port Phillip Publishing logo" />
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table><!-- /FOOTER -->