<table class="smallImages" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border-collapse:collapse; padding-top:0; padding-bottom:0; padding-right:0; padding-left:0; vertical-align:top; width:auto; max-width: 450px; margin-top:0; margin-bottom:0; margin-right:auto; margin-left:auto; text-align:center;">
	<tr align="center">
		<td align="center" style="padding-top: 10px;">
			<p style="text-align: center;">
				<!-- update width (max image size 450px) and image link only -->
				<img align="center" width="450" style="display: block; margin-left: auto; margin-right: auto;" src="https://www.moneymorning.com.au/wp-content/uploads/2018/11/MM20181107-01s.jpg" alt="MoneyMorning 07-11-18">

			</p>
		</td>
	</tr>
	<tr align="center">
		<td align="center" style="padding-top: 10px;">
			<p style="display:block; text-align:center; font-size:12px; margin-bottom: 0;">
				<em>Source: Tech Spot</em>
			</p>
			<p style="display:block; text-align:center; font-size:12px;">
				<a href="https://www.moneymorning.com.au/wp-content/uploads/2018/11/MM20181107-01.jpg" target="_blank">[Click to open in a new window]</a>
			</p>
		</td>
	</tr>
</table>




<!-- Example -->

<table class="smallImages" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border-collapse:collapse; padding-top:0; padding-bottom:0; padding-right:0; padding-left:0; vertical-align:top; width:auto; max-width: 450px; margin-top:0; margin-bottom:0; margin-right:auto; margin-left:auto; text-align:center;">
	<tr align="center">
		<td align="center" style="padding-top: 10px;">
			<p style="text-align: center;">
				<!-- update width (max image size 450px) and image link only -->
				<img align="center" width="332" style="display: block; margin-left: auto; margin-right: auto;" src="https://www.moneymorning.com.au/wp-content/uploads/2018/11/MM20181107-02.jpg" alt="MoneyMorning 07-11-18">
			</p>
		</td>
	</tr>
	<tr align="center">
		<td align="center" style="padding-top: 10px;">
			<p style="display:block; text-align:center; font-size:12px; margin-bottom: 0;">
				<em>Source: Tech Spot</em>
			</p>
			<p style="display:block; text-align:center; font-size:12px;">
				<a href="https://www.moneymorning.com.au/wp-content/uploads/2018/11/MM20181107-02.jpg" target="_blank">[Click to open in a new window]</a>
			</p>
		</td>
	</tr>
</table>